{% extends "notes/base.html" %}

{% block page_header %}
<a href="{% url 'groups:groups' %}"><h2>{{group}}</h2></a>
{% endblock page_header %}
{% block content %}
<h3>Członkowie</h3>
<ul>
{% for user in group.user_set.all %}
<li>
    {% if user == group.admin %}
    <h5 style=" color:red">{{ user.username }}</h5>
    {% else %}
    
    <h5>{{ user.username }}</h5>

    {% endif %}
</li>
{%endfor%}
</ul>

<h3>Tematy</h3>

<ul>
    {%for topic in topics%}
    
        <li><h5>
            <a href="{% url 'notes:topic' topic.id %}">{{ topic }}</a>
        </h5></li>
        {% empty %}
        <li><h5>Nie został jeszcze dodany żaden temat.</h5></li>
        {%endfor%}
    
</ul>
<h5><a href="{% url 'notes:group_new_topic' group.id%}">Dodaj nowy temat</a></h5>


{% if admin %}
{% if group.user_set.all|length > 1 %}
<h5><a href="{% url 'groups:delete_from_group' group.id %}">Usuń z grupy</a></h5>
{% endif %}
<h5><a href="{% url 'groups:add_to_group' group.id %}">Dodaj do grupy</a></h5>
<h5><a href="{%  url 'groups:delete_group' group.id %}">Usuń grupe</a></h5>
{% endif %}
{% endblock content %}