{% load bootstrap4 %}
<!DOCTYPE html>
<html len="pl">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width",initial-scale=1,
      shrink-to-fit="no">
      <title>Notelly</title>
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full'%}
  </head>
  <body >
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
        <a class="navbar-brand" href="{%url 'learning_logs:index' %}">Notelly</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Znikajacy div -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- TEMATY -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'learning_logs:topics'%}">
                        Tematy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'groups:groups'%}">
                        Grupy
              </a>
            </li>
          </ul>
          <!--LOGIN -->
          <ul class="navbar-nav ml-auto ">
            {% if user.is_authenticated %}
              <li class="nav-item">
                  <span class="navbar-text">Witaj, {{ user.username }}</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:password_change'%}">Zmień hasło</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout'%}"> Wyloguj się</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register'%}">Zarejestruj się</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login'%}"> Zaloguj się</a>
              </li>
            {% endif %}
          </ul>
        </div>
    </nav>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %} {% endblock page_header %}
    </div>    
    <dib>
      {% block content %} {% endblock content %}
    </dib>
  </main>


  </body>
</html>
