{% extends "notes/base.html"%}

{% block page_header %}
    <h1> Tematy</h1>
{% endblock page_header %}
{% block content %}
    <ul>
        <h5>Moje tematy</h5>
        {%for topic in topics_private%}
        
            <li><h5>
                <a href="{% url 'notes:topic' topic.id %}">{{ topic }}</a>
            </h5>
            <p style="font-size: 13px;">Dostęp:  {% if topic.access == "priv" %}
                prywatny
            {% else %}
                publiczny
            {% endif %}  </p>
            
            </li>
            {% empty %}
            <li><h3>Nie został jeszcze dodany żaden temat.</h3></li>
        
            
            {%endfor%}



        <h5>Tematy publiczne</h5>

        {%for topic in topics_public%}
            <li><h5>
                <a href="{% url 'notes:topic' topic.id %}">{{ topic }}</a>
            </h5>
            <p style="font-size: 13px;">Autor: {{topic.owner }} {{topic.date_added}}</p>
            </li>
        
        {%endfor%}    
    </ul>

    <h5><a href="{% url 'notes:new_topic'%}">Dodaj nowy temat</a></h5>

{% endblock content %}