{% extends "notes/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
{% if  topic.group == None %}
<h2> <a href="{% url 'notes:topics'%}">{{ topic }}</a></h2>
{% else %}
<h2> <a href="{% url 'groups:group' topic.group.id %}">{{ topic }}</a></h2>
{% endif %}
{% endblock page_header %}

{% block content %}

{% if form and  topic.group == None %}
<form class="form" method="post" action="{% url 'notes:topic' topic.id %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  
<button class="btn btn-primary" name="submit"> Zmień dostęp</button>
</form>
  
{%endif%}

{% if changed %}
      <p>Dostęp został zmieniony.</p>
  {% endif %}

{% if topic.owner == user %}
</br><a href="{% url 'notes:delete_topic' topic.id %}"> Usuń temat</a>
{% endif %}
</br></br>
<a href="{% url 'notes:new_entry' topic.id %}">Dodaj nowy wpis</a>
<ul>
    {% for entry in entries%}
    <div class="card mb-3 mt-3">
    <h4 class="card-header"> {{entry.date_added|date:'d M Y H:i' }} 
    <small> {% if entry.creator == user %} <a href="{% url 'notes:edit_entry' entry.id %}">Edytuj wpis</a> {% endif %}
    Autor: {{entry.creator}} 
    
    </small> </h4>
      <div class="card-body">
        {{entry.text|linebreaks}}
       
       </div>
    </div>
    {%empty%}
    Nie ma jeszcze żadnego wpisu dla tego tematu.
    {%endfor%}

</ul>

{% endblock content %}